@font-face {
    font-family:'Lexend';
    src: url(../fonts/Lexend-VariableFont_wght.ttf);
  }

  body{
    position: relative;
  }
  .btn{
width: 109px;
height: 48px;
align-items: center;
background: #10B981;
border-radius: 32px;
display: flex;

font-family: 'Lexend';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 22px;

color: #FFFFFF;
  }

  .nav-link1{
width: 96px;
padding: 8px 0px;
display: flex;
justify-content: center;
background: rgba(255, 255, 255, 0.1);
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 32px;

font-family: 'Lexend';
font-style: normal;
font-weight: 600;
font-size: 14px;
text-decoration: none;

color: #F0F3FD;
  }

  .nav-link2{
    width: 96px;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 32px;
    margin-left: 24px;
    
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    
    color: #F0F3FD;
      }

  .nav-link{
    width: 122px;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 32px;
    margin-right: 56px;
    margin-left: 24px;
    
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    
    color: #F0F3FD;
      }

  .btn1{
        Width:107px;
        height: 46px;
        border-radius: 32px;
        background: #D1FAE5;
        border: none;

        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
     
        color: #047857;
      }

.frame{
width: 328px;
height: 104px;
display: flex;
align-items: center;

background: #FFFFFF;
box-shadow: 0px 11px 48px rgba(51, 51, 51, 0.06);
border-radius: 32px;

}

.frame1{
width: 201px;
height: 104px;
margin: 0px 16px;
display: flex;
align-items: center;
justify-content: center;

background: #FFFFFF;
box-shadow: 0px 11px 48px rgba(51, 51, 51, 0.06);
border-radius: 32px;

}

.frame2{
width: 103px;
height: 104px;
display: flex;
align-items: center;

background: #FFFFFF;
box-shadow: 0px 11px 48px rgba(51, 51, 51, 0.06);
border-radius: 32px 0px 0px 32px;
}
  